/* General button styling */
button {
    background-color: var(--color-blue);
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-purple);
}