body, main {
    margin: 0;
    padding: 0;
    
    align-items: center;
    text-align: center;
}


/*font */
body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

header, section {
    min-height: 100vh;
    width: 700px;
    max-width: 90%;
  
    padding-top: 100px;
    margin: 0px;
    
    /*border: 1px sold black;*/
    display: inline-block;
}